footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li a {
    color: #fff;
    font-size: 20px;
}

.social-icons li a:hover {
    color: #ccc;
}

p{
    text-align: center;
}
